In [1]:
import numpy as np
import pandas as pd

In [2]:
path = "/Users/siruili/Documents/Kinetiscope/H2O ions/0D/March 2022/"

# file = "80 mil.txt"
#file = "100 mil.txt"
file = "500 mil.txt"

f = path + file

In [3]:
names=['Data','Time stamp','Ion recombination', 'Ion generation']

In [4]:
df = pd.read_fwf(filepath_or_buffer=f, sep=" ", 
                 skiprows = 9, skipfooter = 2,
                 header = None,
                 colspecs = [(0,25),(25,50),(50,75),(75,100)],
                 delim_whitespace = True,
                 names = names, index_col = 'Data', memory_map = True)

In [5]:
df

       Time stamp  Ion recombination  Ion generation
Data
1        0.000000                  0               0
2        0.000140                  0               1
3        0.000176                  1               1
4        0.000308                  1               2
5        0.000390                  2               2
...           ...                ...             ...
49997    1.966120              24997           24999
49998    1.966130              24998           24999
49999    1.966139              24998           25000
50000    1.966139              24998           25001
50001    1.966144              24999           25001

[50001 rows x 3 columns]

In [6]:
df = df.assign(net_ion_pair = lambda x: x['Ion generation']-x['Ion recombination'] )

In [7]:
df

       Time stamp  Ion recombination  Ion generation  net_ion_pair
Data
1        0.000000                  0               0             0
2        0.000140                  0               1             1
3        0.000176                  1               1             0
4        0.000308                  1               2             1
5        0.000390                  2               2             0
...           ...                ...             ...           ...
49997    1.966120              24997           24999             2
49998    1.966130              24998           24999             1
49999    1.966139              24998           25000             2
50000    1.966139              24998           25001             3
50001    1.966144              24999           25001             2

[50001 rows x 4 columns]

# Calculate ion pairs availability coefficient

In [8]:
max_ion_pair = df['net_ion_pair'].max()
net_ion_pair = df['net_ion_pair'].to_list()
time = df.iloc[:,0].to_list()
index = list(range(len(time)-1))

#total simulation time
T_sim = df.iloc[-1,0]

In [9]:
ion_lifetime = []

while max_ion_pair >= 0:
    ion_time.append([])
    max_ion_pair -= 1
    
for i in index: 
    ion_time[net_ion_pair[i]].append(time[i+1]-time[i])
    
sum_ion_lifetime = []

for i in ion_time:
    sum_ion_lifetime.append(sum(i))

TypeError: list indices must be integers or slices, not list

In [ ]:
sum(ion_lifetime[1:])
sum(ion_lifetime[1:])/T_sim